BAILEYS_URL=
BAILEYS_SECRET=
CALENDLY_TOKEN=
CALENDLY_ORG=
CALENDLY_DERECHO_VIRTUAL_1=
CALENDLY_DERECHO_VIRTUAL_2=
CALENDLY_LUCIA_VERGARA=
CALENDLY_JORGE_CHENARD=
CALENDLY_BRAYAN_ROMERO=
SUPABASE_SERVICE_KEY=
SUPABASE_URL=
GEMINI_API_KEY=
ADMIN_GROUP=
ADMIN_GROUP_AGENDADAS=
AGENT_NUMBER=
CRON_SECRET=
DRY_RUN=true
