ULTRAMSG_TOKEN=
ULTRAMSG_INSTANCE=
CALENDLY_TOKEN=
CALENDLY_ORG=
CALENDLY_USER_1=
CALENDLY_USER_2=
CALENDLY_USER_3=
SUPABASE_SERVICE_KEY=
SUPABASE_URL=
GEMINI_API_KEY=
ADMIN_GROUP=
ADMIN_GROUP_AGENDADAS=
AGENT_NUMBER=
CRON_SECRET=
